cool fonction html


<!-- Slide Show -->
<section>
<img class="mySlides" src="avatar.jpg" style="width:100%">
<img class="mySlides" src="img_band_ny.jpg" style="width:100%">
<img class="mySlides" src="img_band_chicago.jpg" style="width:100%">
</section>

<script>
// Automatic Slideshow - change image every 3 seconds
var myIndex = 0;
carousel();

function carousel() {
var i;
var x = document.getElementsByClassName("mySlides");
for (i = 0; i < x.length; i++) {
  x[i].style.display = "none";
}
myIndex++;
if (myIndex > x.length) {myIndex = 1}
x[myIndex-1].style.display = "block";
setTimeout(carousel, 3000);
}
</script>

### trace a lign
<hr/>
<p style="margin-bottom: 0in; line-height: 100%"><br/>
